# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Logs
*.log

# Temp
.cache/
tmp/

# IDE settings
.vscode/
.idea/
